@using Smartphone.Data.Models
@model List<Telephone>

@{
    ViewData["Title"] = "MySmartphones";
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Make
            </th>
            <th>
                Model
            </th>
            <th>
                Option
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <th>

                @item.NameOfAdvertisement
            </th>
            <th>
                @item.Price
            </th>
            <th>
                @item.Make.NameOfMake
            </th>
            <th>
                @item.Model.NameOfModel
            </th>

            <th>
                <a href="/smartphone/details/@item.Id">Check</a>
                <a href="/smartphone/editbyid/@item.Id" class="btn-warning">Edit</a>
                <a href="/smartphone/destroy/@item.Id" class="btn-danger">Delete</a>
            
            </th>
        </tr>
        }
    </tbody>

</table>
