@using Smartphone.Services.Models
@model AdvertisementSearchModell

@{
    ViewData["Title"] = "Search";
}
<form method="post">
    <label asp-for="PriceFrom">Price From</label>
    <input asp-for="PriceFrom" />
    <label asp-for="PriceTo">Price To</label>
    <input asp-for="PriceTo" />

    <label asp-for="ModelYearFrom">Model year from</label> 
    <input asp-for="ModelYearFrom" placeholder="2005" />
    <label asp-for="ModelYearTo">Model year to</label>
    <input asp-for="ModelYearTo" placeholder="2021" />

    <label asp-for="BasicCameraFrom">Basic camera (MP) from</label>
    <input asp-for="BasicCameraFrom" />
    <label asp-for="BasicCameraTo">Basic camera (MP) to</label>
    <input asp-for="BasicCameraTo" />

    <select id="MakeId" asp-for="MakeId" asp-items='@(new SelectList(ViewBag.Makes,"MakeId","Name"))'>

        <option>Select Make</option>

    </select>

    <select id="ModelId" asp-for="ModelId" asp-items='@(new SelectList(string.Empty,"ModelId","Name"))'></select>
    <h3>RAM:</h3>
    <div>
        <input name="RamAreChecked" type="checkbox" value="1" />
        <label>1 GB</label>
    </div>
    <div>

        <input name="RamAreChecked" type="checkbox" value="2" />
        <label>2 GB</label>
    </div>
    <div>

        <input name="RamAreChecked" type="checkbox" value="4" />
        <label>4 GB</label>
    </div>
    <div>

        <input name="RamAreChecked" type="checkbox" value="6" />
        <label>6 GB</label>
    </div>
    <div>

        <input name="RamAreChecked" type="checkbox" value="8" />
        <label>8 GB</label>
    </div>

    <h3>Memory:</h3>
    <div>

        <input name="MemoryAreChecked" type="checkbox" value="4" />
        <label>4 GB</label>
    </div>
    <div>

        <input name="MemoryAreChecked" type="checkbox" value="6" />
        <label>6 GB</label>
    </div>
    <div>

        <input name="MemoryAreChecked" type="checkbox" value="8" />
        <label>8 GB</label>
    </div>
    <div>

        <input name="MemoryAreChecked" type="checkbox" value="16" />
        <label>16 GB</label>
    </div>
    <div>

        <input name="MemoryAreChecked" type="checkbox" value="32" />
        <label>32 GB</label>
    </div>
    <div>

        <input name="MemoryAreChecked" type="checkbox" value="64" />
        <label>64 GB</label>
    </div>
    <div>

        <input name="MemoryAreChecked" type="checkbox" value="128" />
        <label>128 GB</label>
    </div>
    <div>

        <input name="MemoryAreChecked" type="checkbox" value="256" />
        <label>256 GB</label>
    </div>
    <div>

        <input name="MemoryAreChecked" type="checkbox" value="512" />
        <label>512 GB</label>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $(function () {
            $("#MakeId").change(function () {

                var url = "/Smartphone/GetModels";
                var ddlsource = "#MakeId";
                $.getJSON(url, { MakeId: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $("#ModelId").empty();
                    $.each(data, function (i, row) {
                        items += "<option value='" + row.value + "'>" + row.text + "</option>";
                    });
                    $("#ModelId").html(items);
                })
            });
        });
    </script>

    <input type="submit" value="sub" />

</form>
